.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
  img {
    height: auto;
    width: 100%;
  }
  .product-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 12px;

    .view-details-btn {
      flex: 1;
    }

    .favorite-btn,
    .cart-btn mat-icon {
      color: var(--primary-color);
    }
    .favorite-btn,
    .cart-btn {
      flex-shrink: 0;
    }
  }
}
